In [1]:
import sqlite3
import glob
from pathlib import Path
import pandas as pd

In [2]:
from enum import Enum
import ast

from enum import Enum

class eSubTipo(Enum):
    PROCESSAMENTO = [
        {"codigo": 1, "nome": "Viníferas"},
        {"codigo": 2, "nome": "Americanas e híbridas"},
        {"codigo": 3, "nome": "Uvas de mesa"},
        {"codigo": 4, "nome": "Sem classificação"}
    ]

    IMPORTACAO = [
        {"codigo": 1, "nome": "Vinhos de mesa"},
        {"codigo": 2, "nome": "Espumantes"},
        {"codigo": 3, "nome": "Uvas frescas"},
        {"codigo": 4, "nome": "Uvas passas"},
        {"codigo": 5, "nome": "Suco de uva"}
    ]

    EXPORTACAO = [
        {"codigo": 1, "nome": "Vinhos de mesa"},
        {"codigo": 2, "nome": "Espumantes"},
        {"codigo": 3, "nome": "Uvas frescas"},
        {"codigo": 4, "nome": "Suco de uva"}
    ]

    def get_by_codigo(self, codigo):
        for item in self.value:
            if item["codigo"] == codigo:
                return item
        return None

class eTipo(Enum):
    PRODUCAO = {"codigo": 2, "nome": "Producao", "subtipo": None}
    PROCESSAMENTO = {"codigo": 3, "nome": "Processamento", "subtipo": eSubTipo.PROCESSAMENTO}
    COMERCIALIZACAO = {"codigo": 4, "nome": "Comercializacao", "subtipo": None}
    IMPORTACAO = {"codigo": 5, "nome": "Importacao", "subtipo": eSubTipo.IMPORTACAO}
    EXPORTACAO = {"codigo": 6, "nome": "Exportacao", "subtipo": eSubTipo.EXPORTACAO}

    @property
    def codigo(self):
        return self.value["codigo"]

    @property
    def nome(self):
        return self.value["nome"]

    @property
    def subtipo(self):
        return self.value["subtipo"]

"""
    A classe Negocio define o tipo de análise (Produção, Processamento, Comercialização, Importação, Exportação)
"""
class Negocio():
    
    def __init__(self, negocio:eTipo):
        self.codigo = negocio.codigo
        self.tipo = negocio.nome
        self.subtipo = negocio.subtipo

    def __enter__(self):
        return self

    def __exit__(self, exc_type, exc_val, exc_tb):
        if exc_type:
            print(f"Tipo de exceção: {exc_type}")
            print(f"Valor da exceção: {exc_val}")
            print(f"Traceback da exceção: {exc_tb}")
        return False  # Re-raise exceptions, if any

In [79]:
def retorna_arquivos(tipo:eTipo, path:str):
    # Padrão de arquivo com máscara
    padrao = f"{tipo.nome}*.parquet"
    print(f"padrao->{padrao}")
    print(f"arquivo->{str(Path(path))}")
    # Buscar arquivos que correspondem ao padrão
    arquivos = glob.glob(str(Path(path) / padrao))
    print(f"arquivos->{arquivos}")
    # Verificar se algum arquivo foi encontrado
    return arquivos

In [80]:
arquivos = retorna_arquivos(eTipo.PROCESSAMENTO, path="../data/parquet/silver")

padrao->Processamento*.parquet
arquivo->../data/parquet/silver
arquivos->['../data/parquet/silver/Processamento.parquet']

In [81]:
arquivos

['../data/parquet/silver/Processamento.parquet']

In [57]:
from decimal import Decimal, InvalidOperation
def converter_numero_ingles_para_brasileiro_decimal(numero_str):
    try:
         # Remover o separador de milhar
        numero_str = numero_str.replace('.', '')
        # Substituir o separador decimal
        numero_str = numero_str.replace(',', '.')
        # Converter para Decimal
        return pd.to_numeric(numero_str, errors='coerce')
    except (ValueError, InvalidOperation):
        return None

In [72]:
def processa_bronze(tipo:eTipo, path:str):

    arquivos = retorna_arquivos(tipo, path)

    if arquivos:
        if (tipo in (eTipo.PRODUCAO, eTipo.COMERCIALIZACAO)):
            df = pd.read_parquet(arquivos[0])
            df_tipado = df.copy()
            df_agrupado = df_tipado.copy()
            df_detalhes = df_tipado.copy()

            # normalizar quantidade
            df_tipado["Quantidade (L.)"] = df_tipado["Quantidade (L.)"].apply(converter_numero_ingles_para_brasileiro_decimal)
            print(f"df_tipado->{df_tipado}")

            # Filtrar os dados para Produto='Total'
            df_total_ano = df_tipado[df_tipado['Produto'] == 'Total'].copy()
            print(f"df_total_ano->{df_total_ano}")
            df_total_ano = df_total_ano.groupby('ano')['Quantidade (L.)'].sum().reset_index()

            df_agrupado = df_agrupado[df_agrupado["Produto"].str.isupper()]
            df_agregado_ano = df_agrupado.groupby(['ano', 'Produto'], as_index=False).agg({'Quantidade (L.)': 'sum'})
            print(f"df_agregado_ano->{df_agregado_ano}")
            df_agregado_ano.to_parquet(f'../data/parquet/silver/{tipo.nome}_AGREGADO_ANO_CATEGORIA.parquet')

            df_detalhes['categoria'] = df_detalhes['Produto'].where(df_detalhes['Produto'].str.isupper()).ffill()
            df_detalhes = df_detalhes[~df_detalhes['Produto'].str.isupper()]
            df_detalhes = df_detalhes[df_detalhes['Produto'] != 'Total']

            print(f"df_detalhes->{df_detalhes}")
        elif(tipo == eTipo.PROCESSAMENTO):
            dfs = []
            for arquivo in arquivos:
                print(f'processando arquivo: {arquivo}')
                df = pd.read_parquet(arquivo)
                df.rename(columns={"Sem definição":"Cultivar"}, inplace=True)
                dfs.append(df)

            df = pd.concat(dfs, ignore_index=True)

            df_tipado = df.copy()
            df_agrupado = df_tipado.copy()
            df_detalhes = df_tipado.copy()

            df_tipado["Quantidade (Kg)"] = df_tipado["Quantidade (Kg)"].apply(converter_numero_ingles_para_brasileiro_decimal)
            print(f"df_tipado->{df_tipado}")
            #if (tipo.subtipo.value["nome"] != "Sem Classificação"):
                # Filtrar os dados para Produto='Total'
            df_total_ano = df_tipado[df_tipado['Cultivar'] == 'Total'].copy()                    
            df_total_ano = df_total_ano.groupby('ano')['Quantidade (Kg)'].sum().reset_index()
            print(f"df_total_ano->{df_total_ano}")

            df_agrupado = df_agrupado[df_agrupado["Cultivar"].str.isupper()]
            df_agregado_ano = df_agrupado.groupby(['ano', 'Cultivar'], as_index=False).agg({'Quantidade (Kg)': 'sum'})
            print(f"df_agregado_ano->{df_agregado_ano}")
            df_agregado_ano.to_parquet(f'../data/parquet/silver/{tipo.nome}_AGREGADO_ANO_CATEGORIA.parquet')

            df_detalhes['categoria'] = df_detalhes['Cultivar'].where(df_detalhes['Cultivar'].str.isupper()).ffill()
            df_detalhes = df_detalhes[~df_detalhes['Cultivar'].str.isupper()]
            df_detalhes = df_detalhes[df_detalhes['Cultivar'] != 'Total']
            print(f"df_detalhes->{df_detalhes}")
            #else:
                # Filtrar os dados para Produto='Total'
                #df_total_ano = df_tipado[df_tipado['Sem definição'] == 'Total'].copy()
                #print(f"df_total_ano->{df_total_ano}")
        elif (tipo in (eTipo.IMPORTACAO, eTipo.EXPORTACAO)):
            df = pd.read_parquet(arquivos[0])
            df_tipado = df.copy()
            df_agrupado = df_tipado.copy()
            df_detalhes = df_tipado.copy()

            df_total_ano = df_tipado[df_tipado['Países'] == 'Total'].copy()
            df_total_ano = df_total_ano.groupby('ano')[['Quantidade (Kg)', 'Valor (US$)']].sum().reset_index()
            print(f"df_total_ano->{df_total_ano}")

            df_tipado["Quantidade (Kg)"] = df_tipado["Quantidade (Kg)"].apply(converter_numero_ingles_para_brasileiro_decimal)
            df_tipado["Valor (US$)"] = df_tipado["Valor (US$)"].apply(converter_numero_ingles_para_brasileiro_decimal)            
            print(f"df_tipado->{df_tipado}")
            
            df_detalhes = df_detalhes[df_detalhes['Países'] != 'Total']
            print(f"df_detalhes->{df_detalhes}")

        # Somar a quantidade por ano
        df_total_ano.to_parquet(f'../data/parquet/silver/{tipo.nome}_AGREGADO_ANO.parquet')
        df_detalhes.to_parquet(f'../data/parquet/silver/{tipo.nome}.parquet')

In [64]:
processa_bronze(eTipo.PRODUCAO, path="../data/parquet/bronze")

padrao->Producao_*.parquet
arquivo->../data/parquet/bronze
arquivos->['../data/parquet/bronze/Producao_1970_2024.parquet']
df_tipado->                                       Produto  Quantidade (L.)   ano  \
0                                VINHO DE MESA      217208604.0  1970
1                                        Tinto      174224052.0  1970
2                                       Branco         748400.0  1970
3                                       Rosado       42236152.0  1970
4                VINHO FINO DE MESA (VINIFERA)       23899346.0  1970
...                                        ...              ...   ...
2855  Destilado alcoólico simples de bagaceira              NaN  2024
2856                         Vinho acidificado              NaN  2024
2857             Mosto parcialmente fermentado              NaN  2024
2858                          Outros derivados              NaN  2024
2859                                     Total              0.0  2024

          tipo
0     Producao
1     Producao
2     Producao
3     Producao
4     Producao
...        ...
2855  Producao
2856  Producao
2857  Producao
2858  Producao
2859  Producao

[2860 rows x 4 columns]
df_total_ano->     Produto  Quantidade (L.)   ano      tipo
51     Total      256370050.0  1970  Producao
103    Total      193427885.0  1971  Producao
155    Total      183856017.0  1972  Producao
207    Total      157396674.0  1973  Producao
259    Total      273424403.0  1974  Producao
311    Total      270458942.0  1975  Producao
363    Total      201991040.0  1976  Producao
415    Total      260640605.0  1977  Producao
467    Total      278412379.0  1978  Producao
519    Total      292753538.0  1979  Producao
571    Total      199602262.0  1980  Producao
623    Total      288007812.0  1981  Producao
675    Total      329714915.0  1982  Producao
727    Total      188192984.0  1983  Producao
779    Total      243301354.0  1984  Producao
831    Total      366342434.0  1985  Producao
883    Total      225370115.0  1986  Producao
935    Total      218143328.0  1987  Producao
987    Total      348583277.0  1988  Producao
1039   Total      273501862.0  1989  Producao
1091   Total      310852196.0  1990  Producao
1143   Total      203964281.0  1991  Producao
1195   Total      256128761.0  1992  Producao
1247   Total      254414073.0  1993  Producao
1299   Total      290204367.0  1994  Producao
1351   Total      298445592.0  1995  Producao
1403   Total      220187527.0  1996  Producao
1455   Total      267766792.0  1997  Producao
1507   Total      213311110.0  1998  Producao
1559   Total      311305882.0  1999  Producao
1611   Total      372917110.0  2000  Producao
1663   Total      296577759.0  2001  Producao
1715   Total      339596005.0  2002  Producao
1767   Total      268626278.0  2003  Producao
1819   Total      409414862.0  2004  Producao
1871   Total      325036531.0  2005  Producao
1923   Total      276383491.0  2006  Producao
1975   Total      390612839.0  2007  Producao
2027   Total      430111599.0  2008  Producao
2079   Total      341821764.0  2009  Producao
2131   Total      321410393.0  2010  Producao
2183   Total      460552267.0  2011  Producao
2235   Total      428801600.0  2012  Producao
2287   Total      371638669.0  2013  Producao
2339   Total      374268255.0  2014  Producao
2391   Total      442701714.0  2015  Producao
2443   Total      200550344.0  2016  Producao
2495   Total      485831789.0  2017  Producao
2547   Total      417752863.0  2018  Producao
2599   Total      402939258.0  2019  Producao
2651   Total      318512191.0  2020  Producao
2703   Total      487338750.0  2021  Producao
2755   Total      446853712.0  2022  Producao
2807   Total      457792870.0  2023  Producao
2859   Total              0.0  2024  Producao
df_agregado_ano->      ano                        Produto Quantidade (L.)
0    1970                      DERIVADOS      14.164.329
1    1970                           SUCO       1.097.771
2    1970                  VINHO DE MESA     217.208.604
3    1970  VINHO FINO DE MESA (VINIFERA)      23.899.346
4    1971                      DERIVADOS      13.280.518
..    ...                            ...             ...
215  2023  VINHO FINO DE MESA (VINIFERA)      46.268.556
216  2024                      DERIVADOS               -
217  2024                           SUCO               -
218  2024                  VINHO DE MESA               -
219  2024  VINHO FINO DE MESA (VINIFERA)               -

[220 rows x 3 columns]
df_detalhes->                                       Produto Quantidade (L.)   ano  \
1                                        Tinto     174.224.052  1970
2                                       Branco         748.400  1970
3                                       Rosado      42.236.152  1970
5                                        Tinto       7.591.557  1970
6                                       Branco      15.562.889  1970
...                                        ...             ...   ...
2854                        Espumante orgânico               -  2024
2855  Destilado alcoólico simples de bagaceira               -  2024
2856                         Vinho acidificado               -  2024
2857             Mosto parcialmente fermentado               -  2024
2858                          Outros derivados               -  2024

          tipo                      categoria
1     Producao                  VINHO DE MESA
2     Producao                  VINHO DE MESA
3     Producao                  VINHO DE MESA
5     Producao  VINHO FINO DE MESA (VINIFERA)
6     Producao  VINHO FINO DE MESA (VINIFERA)
...        ...                            ...
2854  Producao                      DERIVADOS
2855  Producao                      DERIVADOS
2856  Producao                      DERIVADOS
2857  Producao                      DERIVADOS
2858  Producao                      DERIVADOS

[2585 rows x 5 columns]

In [65]:
processa_bronze(eTipo.COMERCIALIZACAO, path="../data/parquet/bronze")

padrao->Comercializacao_*.parquet
arquivo->../data/parquet/bronze
arquivos->['../data/parquet/bronze/Comercializacao_1970_2024.parquet']
df_tipado->                 Produto  Quantidade (L.)   ano             tipo
0          VINHO DE MESA       98327606.0  1970  Comercializacao
1                  Tinto       83300735.0  1970  Comercializacao
2                 Rosado         107681.0  1970  Comercializacao
3                 Branco       14919190.0  1970  Comercializacao
4     VINHO FINO DE MESA        4430629.0  1970  Comercializacao
...                  ...              ...   ...              ...
3460      Vinho composto              NaN  2024  Comercializacao
3461      Vinho licoroso              NaN  2024  Comercializacao
3462          Vinho leve              NaN  2024  Comercializacao
3463   Vinho gaseificado              NaN  2024  Comercializacao
3464               Total              0.0  2024  Comercializacao

[3465 rows x 4 columns]
df_total_ano->     Produto  Quantidade (L.)   ano             tipo
62     Total      135765587.0  1970  Comercializacao
125    Total      153426369.0  1971  Comercializacao
188    Total      164340338.0  1972  Comercializacao
251    Total      170490199.0  1973  Comercializacao
314    Total      143921182.0  1974  Comercializacao
377    Total      160806309.0  1975  Comercializacao
440    Total      206403590.0  1976  Comercializacao
503    Total      208245348.0  1977  Comercializacao
566    Total      211763250.0  1978  Comercializacao
629    Total      226925384.0  1979  Comercializacao
692    Total      188158838.0  1980  Comercializacao
755    Total      186480646.0  1981  Comercializacao
818    Total      225784782.0  1982  Comercializacao
881    Total      258229815.0  1983  Comercializacao
944    Total      247473209.0  1984  Comercializacao
1007   Total      263900753.0  1985  Comercializacao
1070   Total      295806095.0  1986  Comercializacao
1133   Total      207801105.0  1987  Comercializacao
1196   Total      230240445.0  1988  Comercializacao
1259   Total      259649893.0  1989  Comercializacao
1322   Total      239802043.0  1990  Comercializacao
1385   Total      265369282.0  1991  Comercializacao
1448   Total      252635444.0  1992  Comercializacao
1511   Total      292308687.0  1993  Comercializacao
1574   Total      268967139.0  1994  Comercializacao
1637   Total      227832126.0  1995  Comercializacao
1700   Total      256899878.0  1996  Comercializacao
1763   Total      278436713.0  1997  Comercializacao
1826   Total      270400525.0  1998  Comercializacao
1889   Total      301957622.0  1999  Comercializacao
1952   Total      319133756.0  2000  Comercializacao
2015   Total      312263016.0  2001  Comercializacao
2078   Total      313019927.0  2002  Comercializacao
2141   Total      297764635.0  2003  Comercializacao
2204   Total      310761669.0  2004  Comercializacao
2267   Total      370852463.0  2005  Comercializacao
2330   Total      342510473.0  2006  Comercializacao
2393   Total      329100468.0  2007  Comercializacao
2456   Total      311783863.0  2008  Comercializacao
2519   Total      367400917.0  2009  Comercializacao
2582   Total      352148981.0  2010  Comercializacao
2645   Total      374188710.0  2011  Comercializacao
2708   Total      363612713.0  2012  Comercializacao
2771   Total      418434128.0  2013  Comercializacao
2834   Total      408257793.0  2014  Comercializacao
2897   Total      432208500.0  2015  Comercializacao
2960   Total      353344151.0  2016  Comercializacao
3023   Total      373190604.0  2017  Comercializacao
3086   Total      407159657.0  2018  Comercializacao
3149   Total      432143661.0  2019  Comercializacao
3212   Total      458907154.0  2020  Comercializacao
3275   Total      473193021.0  2021  Comercializacao
3338   Total      464352488.0  2022  Comercializacao
3401   Total      472291085.0  2023  Comercializacao
3464   Total              0.0  2024  Comercializacao
df_agregado_ano->      ano                          Produto Quantidade (L.)
0    1970                       ESPUMANTES       2.743.678
1    1970  OUTROS PRODUTOS COMERCIALIZADOS      19.844.550
2    1970                     SUCO DE UVAS       2.626.855
3    1970         SUCO DE UVAS CONCENTRADO               -
4    1970                    VINHO DE MESA      98.327.606
..    ...                              ...             ...
490  2024                    VINHO DE MESA               -
491  2024                   VINHO ESPECIAL               -
492  2024               VINHO FINO DE MESA               -
493  2024                   VINHO FRIZANTE               -
494  2024                   VINHO ORGÂNICO               -

[495 rows x 3 columns]
df_detalhes->                         Produto Quantidade (L.)   ano             tipo  \
1                          Tinto      83.300.735  1970  Comercializacao
2                         Rosado         107.681  1970  Comercializacao
3                         Branco      14.919.190  1970  Comercializacao
5                          Tinto         435.354  1970  Comercializacao
6                         Rosado         183.234  1970  Comercializacao
...                          ...             ...   ...              ...
3459  Vinho base para espumantes               -  2024  Comercializacao
3460              Vinho composto               -  2024  Comercializacao
3461              Vinho licoroso               -  2024  Comercializacao
3462                  Vinho leve               -  2024  Comercializacao
3463           Vinho gaseificado               -  2024  Comercializacao

                            categoria
1                       VINHO DE MESA
2                       VINHO DE MESA
3                       VINHO DE MESA
5                  VINHO FINO DE MESA
6                  VINHO FINO DE MESA
...                               ...
3459  OUTROS PRODUTOS COMERCIALIZADOS
3460  OUTROS PRODUTOS COMERCIALIZADOS
3461  OUTROS PRODUTOS COMERCIALIZADOS
3462  OUTROS PRODUTOS COMERCIALIZADOS
3463  OUTROS PRODUTOS COMERCIALIZADOS

[2915 rows x 5 columns]

In [66]:
processa_bronze(eTipo.PROCESSAMENTO, path="../data/parquet/bronze")

padrao->Processamento_*.parquet
arquivo->../data/parquet/bronze
arquivos->['../data/parquet/bronze/Processamento_Sem classificação_1970_2024.parquet', '../data/parquet/bronze/Processamento_Americanas e híbridas_1970_2024.parquet', '../data/parquet/bronze/Processamento_Viníferas_1970_2024.parquet', '../data/parquet/bronze/Processamento_Uvas de mesa_1970_2024.parquet']
processando arquivo: ../data/parquet/bronze/Processamento_Sem classificação_1970_2024.parquet
processando arquivo: ../data/parquet/bronze/Processamento_Americanas e híbridas_1970_2024.parquet
processando arquivo: ../data/parquet/bronze/Processamento_Viníferas_1970_2024.parquet
processando arquivo: ../data/parquet/bronze/Processamento_Uvas de mesa_1970_2024.parquet
df_tipado->                       Cultivar  Quantidade (Kg)   ano           tipo  \
0             Sem classificação        3675463.0  1970  Processamento
1                         Total        3675463.0  1970  Processamento
2             Sem classificação         665425.0  1971  Processamento
3                         Total         665425.0  1971  Processamento
4             Sem classificação         197232.0  1972  Processamento
...                         ...              ...   ...            ...
11875                  Patrícia              NaN  2024  Processamento
11876                   Perlona              NaN  2024  Processamento
11877                    Italia              NaN  2024  Processamento
11878  Rubi (Itália, Itália Ro)              NaN  2024  Processamento
11879                     Total              0.0  2024  Processamento

                 subtipo
0      Sem classificação
1      Sem classificação
2      Sem classificação
3      Sem classificação
4      Sem classificação
...                  ...
11875       Uvas de mesa
11876       Uvas de mesa
11877       Uvas de mesa
11878       Uvas de mesa
11879       Uvas de mesa

[11880 rows x 5 columns]
df_total_ano->     ano  Quantidade (Kg)
0   1970      318313757.0
1   1971      228158941.0
2   1972      217231313.0
3   1973      182761784.0
4   1974      341815575.0
5   1975      337987962.0
6   1976      273874043.0
7   1977      333218581.0
8   1978      351772462.0
9   1979      370994209.0
10  1980      247017874.0
11  1981      366229217.0
12  1982      435270457.0
13  1983      233470662.0
14  1984      339414088.0
15  1985      502915372.0
16  1986      305589415.0
17  1987      302547893.0
18  1988      490203507.0
19  1989      380656695.0
20  1990      441994669.0
21  1991      305536316.0
22  1992      358374616.0
23  1993      361324573.0
24  1994      409357199.0
25  1995      410274768.0
26  1996      316389207.0
27  1997      384049293.0
28  1998      313556426.0
29  1999      427045837.0
30  2000      521703604.0
31  2001      435868711.0
32  2002      474398557.0
33  2003      383352571.0
34  2004      579021496.0
35  2005      493224393.0
36  2006      423635570.0
37  2007      570527657.0
38  2008      634033059.0
39  2009      534110486.0
40  2010      526885008.0
41  2011      709587541.0
42  2012      696913134.0
43  2013      611806968.0
44  2014      606080175.0
45  2015      703271390.0
46  2016      300298850.0
47  2017      752495051.0
48  2018      664205027.0
49  2019              0.0
50  2020      502400159.0
51  2021      734438734.0
52  2022              0.0
53  2023      664989808.0
54  2024              0.0
df_agregado_ano->      ano           Cultivar              Quantidade (Kg)
0    1970            BRANCAS                        3.900
1    1970  BRANCAS E ROSADAS            985.00718.858.541
2    1970                IAC                            -
3    1970         IAC 138022                            -
4    1970             TINTAS  284.285.64210.448.22856.976
..    ...                ...                          ...
270  2024            BRANCAS                            -
271  2024  BRANCAS E ROSADAS                           --
272  2024                IAC                            -
273  2024         IAC 138022                            -
274  2024             TINTAS                          ---

[275 rows x 3 columns]
df_detalhes->                       Cultivar Quantidade (Kg)   ano           tipo  \
0             Sem classificação       3.675.463  1970  Processamento
2             Sem classificação         665.425  1971  Processamento
4             Sem classificação         197.232  1972  Processamento
6             Sem classificação         491.357  1973  Processamento
8             Sem classificação          57.307  1974  Processamento
...                         ...             ...   ...            ...
11874              Golden Queen               -  2024  Processamento
11875                  Patrícia               -  2024  Processamento
11876                   Perlona               -  2024  Processamento
11877                    Italia               -  2024  Processamento
11878  Rubi (Itália, Itália Ro)               -  2024  Processamento

                 subtipo categoria
0      Sem classificação       NaN
2      Sem classificação       NaN
4      Sem classificação       NaN
6      Sem classificação       NaN
8      Sem classificação       NaN
...                  ...       ...
11874       Uvas de mesa   BRANCAS
11875       Uvas de mesa   BRANCAS
11876       Uvas de mesa   BRANCAS
11877       Uvas de mesa   BRANCAS
11878       Uvas de mesa   BRANCAS

[11220 rows x 6 columns]

In [73]:
processa_bronze(eTipo.IMPORTACAO, path="../data/parquet/bronze")

padrao->Importacao_*.parquet
arquivo->../data/parquet/bronze
arquivos->['../data/parquet/bronze/Importacao_Suco de uva_1970_2024.parquet', '../data/parquet/bronze/Importacao_Espumantes_1970_2024.parquet', '../data/parquet/bronze/Importacao_Uvas frescas_1970_2024.parquet', '../data/parquet/bronze/Importacao_Vinhos de mesa_1970_2024.parquet', '../data/parquet/bronze/Importacao_Uvas passas_1970_2024.parquet']
df_total_ano->     ano Quantidade (Kg) Valor (US$)
0   1970               0           0
1   1971             485         950
2   1972             639         311
3   1973           5.522       2.489
4   1974          10.949       3.914
5   1975           3.600         977
6   1976          18.670       5.467
7   1977               0           0
8   1978           2.790       2.850
9   1979              49          64
10  1980               0           0
11  1981               0           0
12  1982              48          99
13  1983               0           0
14  1984               0           0
15  1985               0           0
16  1986       1.575.080     713.219
17  1987       2.453.048   3.676.533
18  1988         224.394     163.985
19  1989       1.904.023   1.342.199
20  1990       1.976.144   1.447.525
21  1991         619.824     594.585
22  1992          11.857       9.999
23  1993          31.906      21.679
24  1994         228.614     138.251
25  1995       1.824.708   1.519.124
26  1996       1.887.147   1.426.052
27  1997       3.828.362   3.234.421
28  1998       4.410.033   3.197.194
29  1999       2.464.687   2.077.908
30  2000       2.052.993   1.692.405
31  2001       2.807.315   2.397.173
32  2002          27.000      28.350
33  2003       2.245.942   1.000.837
34  2004         870.206     680.659
35  2005       1.009.286     900.542
36  2006       1.809.780   1.572.510
37  2007       1.539.427   1.403.186
38  2008         185.319     226.630
39  2009          42.578      52.498
40  2010       1.189.354   3.212.771
41  2011         192.867     194.110
42  2012         640.566     680.937
43  2013       1.063.843     753.920
44  2014          87.931      91.481
45  2015         176.499     201.520
46  2016         278.626     511.053
47  2017         237.493     267.330
48  2018         118.679     132.232
49  2019          13.299      18.357
50  2020          28.180      25.418
51  2021           4.590       4.520
52  2022          29.414      16.781
53  2023          30.463      17.166
54  2024               0           0
df_tipado->             Países  Quantidade (Kg)  Valor (US$)   ano        tipo  \
0     Africa do Sul              NaN          NaN  1970  Importacao
1          Alemanha              NaN          NaN  1970  Importacao
2         Argentina              NaN          NaN  1970  Importacao
3           Austria              NaN          NaN  1970  Importacao
4            Canadá              NaN          NaN  1970  Importacao
...             ...              ...          ...   ...         ...
1645        Turquia              NaN          NaN  2024  Importacao
1646        Uruguai              NaN          NaN  2024  Importacao
1647      Venezuela              NaN          NaN  2024  Importacao
1648         Outros              NaN          NaN  2024  Importacao
1649          Total              0.0          0.0  2024  Importacao

          subtipo
0     Suco de uva
1     Suco de uva
2     Suco de uva
3     Suco de uva
4     Suco de uva
...           ...
1645  Suco de uva
1646  Suco de uva
1647  Suco de uva
1648  Suco de uva
1649  Suco de uva

[1650 rows x 6 columns]
df_detalhes->             Países Quantidade (Kg) Valor (US$)   ano        tipo      subtipo
0     Africa do Sul               -           -  1970  Importacao  Suco de uva
1          Alemanha               -           -  1970  Importacao  Suco de uva
2         Argentina               -           -  1970  Importacao  Suco de uva
3           Austria               -           -  1970  Importacao  Suco de uva
4            Canadá               -           -  1970  Importacao  Suco de uva
...             ...             ...         ...   ...         ...          ...
1644         Taiwan               -           -  2024  Importacao  Suco de uva
1645        Turquia               -           -  2024  Importacao  Suco de uva
1646        Uruguai               -           -  2024  Importacao  Suco de uva
1647      Venezuela               -           -  2024  Importacao  Suco de uva
1648         Outros               -           -  2024  Importacao  Suco de uva

[1595 rows x 6 columns]

In [74]:
processa_bronze(eTipo.EXPORTACAO, path="../data/parquet/bronze")

padrao->Exportacao_*.parquet
arquivo->../data/parquet/bronze
arquivos->['../data/parquet/bronze/Exportacao_Espumantes_1970_2024.parquet', '../data/parquet/bronze/Exportacao_Uvas frescas_1970_2024.parquet', '../data/parquet/bronze/Exportacao_Vinhos de mesa_1970_2024.parquet', '../data/parquet/bronze/Exportacao_Suco de uva_1970_2024.parquet']
df_total_ano->     ano Quantidade (Kg) Valor (US$)
0   1970           5.583       3.384
1   1971             510         294
2   1972           3.467       1.581
3   1973          76.023      50.256
4   1974           8.245       6.687
5   1975          20.163      14.264
6   1976           8.307       9.400
7   1977          21.516      20.019
8   1978          10.930      13.076
9   1979           4.186       4.248
10  1980          18.036      19.717
11  1981          69.884      82.106
12  1982          78.396     123.103
13  1983          20.354      34.568
14  1984           2.443       4.984
15  1985          10.274      19.411
16  1986          12.139      19.562
17  1987          17.146      21.443
18  1988          27.472      62.596
19  1989          31.176      55.257
20  1990           1.650       2.092
21  1991          40.444      35.190
22  1992          26.275      35.151
23  1993          47.686      97.728
24  1994          50.374      51.182
25  1995           3.805       8.661
26  1996          18.325      41.908
27  1997           3.793       7.840
28  1998           3.111       6.466
29  1999         797.533     330.068
30  2000         265.767     237.990
31  2001          81.913     144.689
32  2002          46.210      61.677
33  2003          75.643     116.229
34  2004         198.905     237.488
35  2005         111.405     234.687
36  2006         160.493     287.621
37  2007          51.384     193.390
38  2008         355.220     548.650
39  2009          89.981     346.551
40  2010         387.160   1.095.632
41  2011         111.882     568.390
42  2012         172.824     813.909
43  2013         214.701     928.626
44  2014         452.335   2.109.416
45  2015         145.282     712.535
46  2016         174.049     711.991
47  2017         256.746   1.179.471
48  2018         347.772   1.171.928
49  2019         686.270   1.801.326
50  2020         771.066   2.148.121
51  2021         935.243   2.595.870
52  2022         929.865   2.865.784
53  2023         502.505   1.924.725
54  2024               0           0
df_tipado->                   Países  Quantidade (Kg)  Valor (US$)   ano        tipo  \
0           África do Sul              NaN          NaN  1970  Exportacao
1                Alemanha              NaN          NaN  1970  Exportacao
2                  Angola              NaN          NaN  1970  Exportacao
3       Antigua e Barbuda              NaN          NaN  1970  Exportacao
4     Antilhas Holandesas              NaN          NaN  1970  Exportacao
...                   ...              ...          ...   ...         ...
5715              Vanuatu              NaN          NaN  2024  Exportacao
5716            Venezuela              NaN          NaN  2024  Exportacao
5717               Vietnã              NaN          NaN  2024  Exportacao
5718            Outros(1)              NaN          NaN  2024  Exportacao
5719                Total              0.0          0.0  2024  Exportacao

         subtipo
0     Espumantes
1     Espumantes
2     Espumantes
3     Espumantes
4     Espumantes
...          ...
5715  Espumantes
5716  Espumantes
5717  Espumantes
5718  Espumantes
5719  Espumantes

[5720 rows x 6 columns]
df_detalhes->                   Países Quantidade (Kg) Valor (US$)   ano        tipo  \
0           África do Sul               -           -  1970  Exportacao
1                Alemanha               -           -  1970  Exportacao
2                  Angola               -           -  1970  Exportacao
3       Antigua e Barbuda               -           -  1970  Exportacao
4     Antilhas Holandesas               -           -  1970  Exportacao
...                   ...             ...         ...   ...         ...
5714              Uruguai               -           -  2024  Exportacao
5715              Vanuatu               -           -  2024  Exportacao
5716            Venezuela               -           -  2024  Exportacao
5717               Vietnã               -           -  2024  Exportacao
5718            Outros(1)               -           -  2024  Exportacao

         subtipo
0     Espumantes
1     Espumantes
2     Espumantes
3     Espumantes
4     Espumantes
...          ...
5714  Espumantes
5715  Espumantes
5716  Espumantes
5717  Espumantes
5718  Espumantes

[5665 rows x 6 columns]